[Desktop Entry]
Name=Pho
GenericName=4chan Reader
Comment=Pho for 4chan
Categories=Network;
Exec=com.github.dcharles525.pho
Icon=com.github.dcharles525.pho
Terminal=false
Type=Application
Keywords=4chan;eos;
