[Desktop Entry]
Name=Pho
GenericName=4chan browser
Comment=Pho for 4chan
Categories=GNOME;GTK;Network;
Exec=com.github.dcharles525.pho
Icon=com.github.dcharles525.pho
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.dcharles525.pho
Keywords=4chan;pho;board;thread;images;

